@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");


nav {
    font-family: 'Amatic SC', cursive;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #F9EFED;
    margin-bottom: 0px;
}
.togetherFront{
    font-family: 'Amatic SC', cursive;
    display: flex;
    font-size: 30px;
}



.logoinNav{
    padding-top: 15px;
    padding-left: 15px;
    width: 7%;
    height: 2%;
}




nav ul {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

nav h3 {
    font-size: 60px;
}

