nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #F9EFED;
    margin-bottom: 0px;
}
.togetherFront{
    display: flex;
    font-size: 30px;

}


.logoinNav{
    padding-top: 15px;
    padding-left: 15px;
    width: 7%;
    height: 2%;
}


nav ul {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

nav h3 {
    color: rgb(236, 217, 238);
    text-shadow: 1px 1px 3px black;
}

span {
    color: rgb(216, 101, 101);
}