.fontFix{
    width: 50%;
    text-align: center;
    color: #DB7093;
    font-size: 30px;
    font-family: "Work Sans", sans-serif;
    background-color:#ffe592;
    padding: 20px;
    border-radius: 30px;
    border-width: 2px;
    border-color: #DB7093;
 
}

.mainLayoutForm{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mainLayoutForm img{
    margin-left: 40px;
    padding-left: 40px;
    width: 800px;
}

.formToEdit{
    font-size: 30px
}


.fontFix span{
    font-weight: normal;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 236, 252);
    padding: 10px;
    border-radius: 10px;
}

.formBox{
    display: flex;
    flex-direction: row;
    padding: 10px;
}


label {
    align-self: flex-start;
    margin-bottom: 5px;
    color:#362752
}

input {
    margin-left: 20px;
    background-color: White;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 4px;
    margin-bottom: 8px;
}

button {
    color: #DB7093;
    text-shadow: 1px 1px 3px black;
    margin: 0 15px;
    padding: 5px;
    box-shadow: 1px 1px 4px black;
}

button:hover{
    color:#E4B3F2
}

.formToEdit {
    background-color: #F9EFED;
    font-family: "Work Sans", sans-serif;
}