body {
    margin: 0;
    padding: 0;
}

.banner {
    height: 30vw;
    background-image: url('../images/banner.jpeg');  
    background-size: cover;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authButtons {
    display: flex;

}

h4 {
    color: rgb(236, 217, 238);
    padding: 10px;
    margin: 0 15px;
    background-color: rgb(216, 101, 101);
    text-shadow: 1px 1px 3px black;
    box-shadow: 1px 1px 4px black;
}

