body {
    margin: 0;
    padding: 0;
    background-color: #f9efed;
    background-size: cover;  
}

.mainDiv{
    display: flex;
    flex-direction: row;
}

.backgroundImage{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
 

}

.introBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 50px;
}


.banner {
    height: 60vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;

    font-size: 40px;
    text-align: right;

}

.logoAndWord{
    display:flex;

}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authButtons {
    display: flex;

}

h4 {
    color: rgb(236, 217, 238);
    padding: 10px;
    margin: 0 15px;
    background-color: rgb(216, 101, 101);
    text-shadow: 1px 1px 3px black;
    box-shadow: 1px 1px 4px black;
}

