@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Gowun+Dodum&family=Work+Sans:wght@200&display=swap");


body {
    /* font-family: 'Gowun Batang', serif; */
    margin: 0;
    padding: 0;
    background-color: #f9efed;
    background-size: cover;  
}

.mainDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.backgroundImage{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
 

}

.introBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 50px;
}


.banner {
    font-family: 'Amatic SC', cursive;    
    height: 60vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;

    font-size: 40px;
    text-align: right;
}

 

.banner h1{
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    color: #362752
}

.banner h2{
    color: #362752;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;}

.logoAndWord{
    display:flex;

}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authButtons {
    display: flex;

}

button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    font-family: 'Amatic SC', cursive;    
    font-size: 60px;
    text-align: right;
  }
  
  button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:active {
    outline: none;
    border: none;
  }
  
  button:focus {
    outline: 0;
  }

.hoverfun:hover span{
    display: none;
}

.hoverfun:hover:after{
    content: " ☑️";
}

h4 {
    text-align: center;
    width: 100px;
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    border-radius: 30px;
    color: #e54066;
    padding: 10px;
    margin: 0 15px;
    background-color: #ffe592;
}

h4:hover{
    background-color: #E5b3f2;
}

